@use 'variables' as vars;
@use '../helpers/placeholders' as *;
@use '../helpers/functions' as *;

.button {
  @extend %text-preset-nav-button;
  cursor: pointer;
}

.activity-card {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  border-radius: pixToRem(15);
  overflow: hidden;

  &__container {
    margin-block-start: pixToRem(33);
    position: relative;
    padding-block: clampFluid(27.5, 25.5, 375, 768);
    padding-inline: clampFluid(24, 21.5, 375, 768);

    border-radius: pixToRem(15);
    background-color: vars.$color-card-background;
  }
}

.color-layer__img {
  position: absolute;
  top: pixToRem(-14);
  right: pixToRem(14);
}

.activity-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity__type {
  @extend %text-preset-card-title;
}
.activity-card__stats {
  margin-block-start: clampFluid(8, 24, 768, 1440);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-current {
  @extend %text-preset-card-main;
}
.total-last {
  @extend %text-preset-card-description;
}

@media (min-width: vars.$bp-tablet) {
  .activity-card__container {
    padding-block: clampFluid(25.5, 31, 768, 1440);
    padding-inline: clampFluid(21.5, 32.5, 768, 1440);
  }
  .total-last {
    margin-block-start: pixToRem(8);
  }
}

@media (min-width: vars.$bp-desktop) {
  .activity-card__container {
    margin-block-start: pixToRem(45);
  }
}
