@use 'partials/normalize';
@use 'partials/variables' as vars;
@use 'partials/components';
@use 'helpers/mixins' as *;
@use 'helpers/functions' as *;
@use 'helpers/utils';
@use 'helpers/placeholders' as *;

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: vars.$font-main;
  font-weight: vars.$fw-primary;

  background-color: vars.$color-body-background;
  color: vars.$color-white;

  padding-inline: clampFluid(24, 78, 375, 768);
  padding-block: clampFluid(81, 173, 375, 768);
}

.report__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clampFluid(24, 32, 768, 1440);
}
.report__header-container {
  display: flex;
  flex-direction: column;

  background-color: vars.$color-nav-background;
  border-radius: pixToRem(15);
}
.info__container {
  display: flex;
  align-items: center;
  gap: clampFluid(24, 40, 768, 1440);

  padding-block-start: clampFluid(32, 34, 375, 768);
  padding-block-end: clampFluid(37, 34, 375, 768);
  padding-inline-start: pixToRem(32);

  background-color: vars.$color-report-background;
  border-radius: pixToRem(15);
}
.header__img {
  width: clampFluid(64, 78, 768, 1440);
  height: 100%;
  border-radius: 100%;
  border: pixToRem(3) solid vars.$color-white;
}

.info__description {
  @extend %text-preset-nav-description;
}
.info__name {
  @extend %text-preset-nav-name;
}
.nav__container {
  padding-block: pixToRem(24);
}
.nav__list-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list-buttons__item {
  width: 100%;
}

.nav__button {
  width: 100%;
}

.activities__list {
  display: flex;
  flex-direction: column;
  gap: clampFluid(24, 32, 768, 1440);
}

.color-card-work {
  background: linear-gradient(
    to bottom,
    vars.$color-card-work 0%,
    vars.$color-card-background 100%
  );
}
.color-card-play {
  background: linear-gradient(
    to bottom,
    vars.$color-card-play 0%,
    vars.$color-card-background 100%
  );
}
.color-card-study {
  background: linear-gradient(
    to bottom,
    vars.$color-card-study 0%,
    vars.$color-card-background 100%
  );
}
.color-card-exercise {
  background: linear-gradient(
    to bottom,
    vars.$color-card-exercise 0%,
    vars.$color-card-background 100%
  );
}
.color-card-social {
  background: linear-gradient(
    to bottom,
    vars.$color-card-social 0%,
    vars.$color-card-background 100%
  );
}
.color-card-self-care {
  background: linear-gradient(
    to bottom,
    vars.$color-card-self-care 0%,
    vars.$color-card-background 100%
  );
}

@media (min-width: vars.$bp-tablet) {
  .report__container {
    max-width: pixToRem(935);
  }

  .info__container {
    padding-block-start: clampFluid(34, 32, 768, 1440);
    padding-block-end: clampFluid(32, 92, 768, 1440);
  }

  .nav__container {
    margin-inline: auto;
  }
  .nav__list-buttons {
    gap: pixToRem(8);
  }

  .nav__button {
    padding-inline: pixToRem(21);
  }

  .activities__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .activity-card__stats {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: vars.$bp-desktop) {
  body {
    padding-inline: pixToRem(56);
    justify-items: center;
  }
  .report__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: pixToRem(1116);
  }

  .report__header-container {
    margin-inline-start: pixToRem(22);
  }

  .info__container {
    flex-direction: column;
    align-items: start;
    padding-inline-end: pixToRem(85);
  }

  .nav__container {
    padding-block-start: pixToRem(28);
    padding-block-end: pixToRem(32);
    padding-inline-start: pixToRem(11);

    margin-inline-start: 0;
  }

  .info__name {
    max-width: pixToRem(138);
  }

  .nav__list-buttons {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: pixToRem(21);
  }

  .nav__button {
    display: flex;
  }
}
